.body {
  font-family: "Open sans", sans-serif !important;
}

.text-orange {
  color: #f15025;
}

.text-slanted {
  font-family: "Courgette", cursive;
}

.letter-spacing {
  letter-spacing: 0.5rem;
}
.header-hero,
.default-hero {
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(241, 81, 37, 0.3), rgba(241, 81, 37, 0.3)),
    url("./images/heroImagericknmorty.png") center/cover no-repeat;
}

.default-hero {
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/deafultRicknMorty.jpg") center/cover no-repeat;
}
